<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{student/base2 :: Layout(~{::section})}">
    <section class="container mt-4">
        <div class="card shadow-lg p-4">
            <h2 class="text-center mb-4">Upload Resume</h2>

            <form th:action="@{/student/upload-resume}" th:object="${resume}" method="post" enctype="multipart/form-data">

                <div class="mb-3">
                    <label class="form-label fw-bold">File</label>
                    <input class="form-control" name="resumeFile" type="file" required>
                </div>



                <!-- Submit Button -->
                <div class="text-center">
                    <button type="submit" class="btn btn-primary px-4">Upload</button>
                </div>

            </form>

        </div>
        <div th:if="${message!=null}" th:classappend="${message.type}" class="alert ">
            <p th:text="${message.content}"></p>

        </div>
        <h2 class="text-center">Resume Preview</h2>

        <div th:if="${resume1}">
            <iframe th:src="'data:application/pdf;base64,' + ${resume1}" width="100%" height="500px"></iframe>
        </div>

        <div th:if="${resume1== null}">
            <p>No resume uploaded.</p>
        </div>


        <script>
            setTimeout(() => {
                document.querySelector('.alert')?.remove();
            }, 3000); // Removes the message after 3 seconds
        </script>
    </section>
</html>
