<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org"  th:replace="~{base :: Layout(~{::section})}">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <section >
            <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img  id="img-ab" src="img/abou11.jpg" hieght="300" width="300" style="margin: 50% 0px 0px 0px">
                </div>
                <div class="col-md-8" style="margin: 15% 0px 0px 0px;  display: block;">
                    <div class="container">
                        <h3><b>Created By :</b> Gaurav Soni</h3>
                        <h3><b>Date of creation:</b>7-July-2024</h3>
                        <h3><b>Profession:</b>Student</h3>
                        <h3><b>Course:</b>Master of Computer Application</h3>
                        <h3><b>Email:</b>gs671076@gmail.com</h3>
                        <h3><b>Instagram:</b> <a style="color: black" href="https://www.instagram.com/gauravsoni939/?hl=en">gauravsoni939</a></h3>
                        <h3><a style="color: black" href="https://www.linkedin.com/in/gaurav-soni-b94820178/"><b>@Linkedin</b></a></h3>

                    </div>
                </div>
            </div>
        </div>
  <script>
    document.body.classList.add("backgroundN")
  </script>
        </section>
    </body>
</html>
